<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My diary</title>
    <link rel="stylesheet" href="style/index.css" />
  </head>
  <body>
    <div class="index-container">
      <div class="navbar">
        <div><p>My Diary</p></div>
        <ul>
          <li><a href="">INFO</a></li>
          <li><a href="http://localhost:3000/my-diary">APP</a></li>
        </ul>
      </div>
      <div class="container-head">
        <h1>My Diary</h1>
      </div>
      <div class="container-body">
        <p>Make your days a memory that brings you back always to the past!</p>
        <a href="http://localhost:3000/my-diary">Go to app</a>
      </div>
    </div>
  </body>
</html>
